#card {
    width: 100%;
    border: 2px solid silver;
    height: 80vh;
    border-radius: 30px;
    padding: 10px;
    align-items: center;
}

h1, h2, h3{
    color: black
}

#cent{
    display: inline-flex;
    justify-content: center;
}

.led-box {
    height: 30px;
    width: 25%;
    margin: 10px 0;
    float: left;
}


.led-red {
    margin: 0 auto;
    width: 35px;
    height: 35px;
    background-color: #F00;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 12px;
    /* -webkit-animation: blinkRed 0.8s infinite;
    -moz-animation: blinkRed 0.8s infinite;
    -ms-animation: blinkRed 0.8s infinite;
    -o-animation: blinkRed 0.8s infinite;
    animation: blinkRed 0.8s infinite; */
}

@-webkit-keyframes blinkRed {
    from {
        background-color: #F00;
    }

    50% {
        background-color: #A00;
        box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;
    }

    to {
        background-color: #F00;
    }
}

@-moz-keyframes blinkRed {
    from {
        background-color: #F00;
    }

    50% {
        background-color: #A00;
        box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;
    }

    to {
        background-color: #F00;
    }
}

@-ms-keyframes blinkRed {
    from {
        background-color: #F00;
    }

    50% {
        background-color: #A00;
        box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;
    }

    to {
        background-color: #F00;
    }
}

@-o-keyframes blinkRed {
    from {
        background-color: #F00;
    }

    50% {
        background-color: #A00;
        box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;
    }

    to {
        background-color: #F00;
    }
}

@keyframes blinkRed {
    from {
        background-color: #F00;
    }

    50% {
        background-color: #A00;
        box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;
    }

    to {
        background-color: #F00;
    }
}

.led-green {
    width: 35px;
    height: 35px;
    background-color: #1bb11b;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px, #89FF00 0 2px 12px;
}

.click{
    cursor:pointer;
}