#card {
    width: 100%;
    border: 2px solid silver;
    height: 80vh;
    border-radius: 30px;
    padding: 10px;
    align-items: center;
}

h1, h2, h3{
    color: black
}

#cent{
    display: inline-flex;
    justify-content: center;
}

.led-box {
    height: 30px;
    width: 25%;
    margin: 10px 0;
    float: left;
}
.led-off {
    margin: 0 auto;
    width: 35px;
    height: 35px;
    background-color: #808080;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset 0 -1px 9px;
}

.led-orange {
    margin: 0 auto;
    width: 35px;
    height: 35px;
    background-color: #ff6700;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #682402 0 -1px 9px, #f35506 0 2px 12px;
    -webkit-animation: blinkOrange 1s 3;
    -moz-animation: blinkOrange 1s 3;
    -ms-animation: blinkOrange 1s 3;
    -o-animation: blinkOrange 1s 3;
    animation: blinkOrange 1s 3;
}

@-webkit-keyframes blinkOrange {
    from {
        background-color: #ff6700;
    }

    50% {
        background-color: #682c03;
        box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #682402 0 -1px 9px, #f35506 0 2px 0;
    }

    to {
        background-color: #ff6700;
    }
}

@-moz-keyframes blinkOrange {
    from {
        background-color: #ff6700;
    }

    50% {
        background-color: #682c03;
        box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #682402 0 -1px 9px, #f35506 0 2px 0;
    }

    to {
        background-color: #ff6700;
    }
}

@-ms-keyframes blinkOrange {
    from {
        background-color: #ff6700;
    }

    50% {
        background-color: #682c03;
        box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #682402 0 -1px 9px, #f35506 0 2px 0;
    }

    to {
        background-color: #ff6700;
    }
}

@-o-keyframes blinkOrange {
    from {
        background-color: #ff6700;
    }

    50% {
        background-color: #682c03;
        box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #682402 0 -1px 9px, #f35506 0 2px 0;
    }

    to {
        background-color: #ff6700;
    }
}

@keyframes blinkOrange {
    from {
        background-color: #ff6700;
    }

    50% {
        background-color: #682c03;
        box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #682402 0 -1px 9px, #f35506 0 2px 0;
    }

    to {
        background-color: #ff6700;
    }
}

.led-green {
    width: 35px;
    height: 35px;
    background-color: #1bb11b;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px, #89FF00 0 2px 12px;
}

.click{
    cursor:pointer;
}

#bot{
    position: absolute;
    bottom: 50px;
    right: 40px;
}